.home {
    height: 100vh;
}
.background {
    background-image: url("assets/animated.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.about {
    margin-bottom: 5%;
}

.profile {
    border: 4px solid white;
    border-radius: 50%;
    height: 250px;
}

.small-text {
    font-size: 10px;
    list-style-type: none;
}
.list-item {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}
p {
    align-self: center;
}

.skills {
    height: auto;
    margin-bottom: 100px;    
}

.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.skill-sub {
    width: 300px;
}

.no-bullets {
    list-style-type: none;
}

.project-img {

    height: 225px;
}

.pdf {
    height: 500px;
    width: 500px;
    margin-bottom: 50px;
}
ul {
    list-style-type: none;
  }